$font-base-size: 62.5%; // makes 1rem = 10px

//COLORS
$color-white: white;
$color-black: #49484a;
$color-primary: #ec6c4a;
$color-secondary: #1a6950;
$color-danger: #ff2929;
$color-gray: "#888";
$color-lightGray: "#eceef7";
