@import '/src/assets/scss/variables.scss';

mat-toolbar {
  position: relative;
  justify-content: center;
  img {
    width: 6.5rem;
    position: absolute;
    left: 2%;
  }

  h1 {
    font-size: 2.5rem;
    color: $color-primary;

    @media only screen and (max-width: 480px) {
      font-size: 2rem;
    }

    @media only screen and (max-width: 400px) {
      font-size: 1.3rem;
    }


  }

}

.city-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10rem;
  margin-bottom: 10rem;

  .city {
    display: flex;
    margin-left: 2rem;
    margin-top: 2rem;

    width: 22rem;

  }
}

.chart {
  position: relative;
  margin: 5rem 0 2rem 0;

  &-header {
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      color: $color-primary;
      font-size: 2.3rem;
      font-weight: bold;
      letter-spacing: 1px;
  }

  button {
    margin-left: 1rem;
    color: $color-black;
    mat-icon {
      font-size: 2rem;
    }
  }
  }

	app-line-chart {
    display: flex;
    margin: 0 auto;
    width: 50%;
    max-width: 69rem;

    @media only screen and (max-width: 768px) {
      width: 90%;
    }


  }
}
