@import '/src/assets/scss/variables.scss';

mat-toolbar {
  position: relative;
  justify-content: center;
  img {
    width: 6.5rem;
    position: absolute;
    left: 2%;
  }

  h1 {
    font-size: 2.5rem;
    color: $color-primary;
  }

}

.city-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10rem;

  .city {
    display: flex;
    margin-left: 2rem;
    margin-top: 2rem;

    width: 22rem;

  }
}

.chart {
  position: relative;
  margin: 5rem 0 2rem 0;

  h3 {
    text-align: center;
    color: $color-primary;
    font-size: 2.3rem;
    font-weight: bold;
    letter-spacing: 1px;
  }


	app-line-chart {
    display: flex;
    margin: 0 auto;
		width: 50%;
  }
  button {
    position: absolute;
    right: 20%;
    top: 0%;
  }
}
