<ng-container
  *ngIf="{
    weathersState: weathersState$ | async,
    weathers: weathers$ | async
  } as data"
>
  <div class="city-container" [@listAnimation]="weathers?.length">
    <!-- Loading State -->
    <mat-spinner
      [diameter]="40"
      *ngIf="data.weathersState === LoadingState.LOADING"
    ></mat-spinner>
    <!-- Error State -->
    <app-error
      class="error-container"
      *ngIf="data.weathersState === LoadingState.FAILED"
      >An error has occured. Please try again...</app-error
    >

    <app-city
      *ngFor="let weather of weathers; let i = index"
      [weather]="weather"
      (seeHourly)="seeHourlyChart(i)"
    ></app-city>
  </div>

  <div [hidden]="!chartData">
    <mat-card class="card">
      <button mat-icon-button (click)="closeChart()" class="close-btn">
        <mat-icon>close</mat-icon>
      </button>
      <mat-card-header class="card-header">
        <mat-card-title class="card-header-title">{{
          chartData?.name
        }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <app-line-chart
          [chartData]="chartData"
          id="timeline-chart"
        ></app-line-chart>
      </mat-card-content>
    </mat-card>
  </div>
</ng-container>
