@import "src/assets/scss/variables.scss";

.card {
  width: 100%;
  &-content-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    border-bottom: 1px $color-black solid;
    font-size: 1.4rem;
    span:nth-child(2) {
      font-size: 1.6rem;
      font-weight: 500;
    }
  }
}
